<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload a new file</title>
</head>
<body>
    <div>
        <span><a href="/files">List Files</a></span>
        <span><a href="/files/uploadFile">Upload a file</a></span>
        <span><a href="/logout">Sign out</a></span>
    </div>
    <div>
        <form action="/files/upload" method="post" enctype="multipart/form-data">
            <label>Upload file</label>
            <input name="file" id="file" type="file"/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>