<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My files</title>
</head>
<body>
    <div>
        <span><a href="/files">List Files</a></span>
        <span><a href="/files/uploadFile">Upload a file</a></span>
        <span><a href="/logout">Sign out</a></span>
    </div>
    <div>
        <table>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.getId()}"></td>
                <td>
                    <a th:href="@{/files/{id}/(id=${file.getId()})}" download><i>Download</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>